<launch>
    <node pkg="speed_control" output="screen" name="speed" type="speed_controller" ns="iRobot_1">
        <param name="private_name" value="iRobot_1"/>
        </node>
    <node pkg="speed_control" name="speed" output="screen" type="speed_controller" ns="iRobot_2">
        <param name="private_name" value="iRobot_2"/>
        </node>
    <node pkg="speed_control" name="speed" type="speed_controller" output="screen" ns="iRobot_3">
        <param name="private_name" value="iRobot_3"/>
        </node>
    
</launch>
